<!--
    
 avendo creato la _ViewStart.cshtml non serve più specificarlo per ogni pagina
@{
    //Si specifica uqale pagina di layout deve essere utilizzata
    Layout = "_Layout";
}
-->

<h1>sono la view dell'action details del controller courses</h1>

